{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <div class="form-group">
                        <h1>Edit Company</h1>

                        {{ include('admin/admin_campaign/_form.html.twig', {'button_label': 'Update'}) }}
                        <div class="btn-block"></div>
                        <a href="{{ path('app.admin.campaign') }}" class="btn btn-primary">Back to companies</a>

                        {{ include('admin/admin_campaign/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
