<form method="post" action="{{ path('app.admin.bonus.delete', {'id': bonus.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bonus.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
