{% extends 'base.html.twig' %}

{% block title %}Edit Bonus{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <div class="form-group">
                    <h1>Edit Bonus</h1>

                    {{ include('admin/admin_bonus/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('app.admin.bonus') }}" class="btn btn-primary">back to list</a>

                    {{ include('admin/admin_bonus/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
