{% extends 'admin/admin.html.twig' %}

{% block body %}
     {{ parent() }}
<div class="container-fluid" style="margin-top: 20px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.name }}</td>
                <td>
                    <a href="{{ path('app.admin.theme.edit', {'id': theme.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app.admin.theme.new') }}" class="btn btn-primary">Create new</a>
</div>
{% endblock %}
